{#
 Copyright 2026 Google LLC
 SPDX-License-Identifier: Apache-2.0
#}

{% include "partials/message.html.j2" %}
{% include "partials/_metrics_badges.html.j2" %}
{% include "partials/_flash.html.j2" %}
