{#
 Copyright 2026 Google LLC
 SPDX-License-Identifier: Apache-2.0
#}

{# Combined Explore response: normal swap updates results, OOB swap updates EXPLAIN PLAN. #}
{% include "partials/search_result_list.html.j2" %}
{% include "partials/plan_lines.html.j2" %}
